webpack.config.js# Ignore node modules
node_modules

# Ignore OSX file system files
.DS_Store

# Ignore build files
dist

# Ignore all types installed by flow-typed but keep the custom definitions
**/flow-typed/*
!**/flow-typed/custom-definitions
